@model IEnumerable<UhanieWebApp.Data.Flower>

@{
    ViewData["Title"] = "Index";
}

<h1>
    Цветя 
    @if (User.IsInRole("Admin"))
    {
        <a style="font-size:2vw" asp-action="Create">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z" />
                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z" />
            </svg>
        </a>
    }
</h1>

@using (Html.BeginForm())
{
    <h4 style="padding:3px;">
        @*@Html.TextBox("SearchString")*@
        <input type="search" name="SearchString">
        <input type="submit" class="btn btn-success" value="Search" />
    </h4>
}
<br />

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3 d-flex" style="padding:10px;">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.ImageURL)" width="490px" height="100%" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.BulgarianName)</h4>
                        <h5 class="card-title">/<i>@Html.DisplayFor(modelItem => item.LatinName)</i>/</h5>
                        <p class="card-subtitle">@Html.DisplayFor(modelItem => item.Price) лв.</p>

                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        else
                        {
                            <a asp-action="Details" asp-route-id="@item.Id">Виж още</a>
                            <br />
                            <a asp-controller="OrderFlowers" asp-action="Create" asp-route-id="@item.Id">Поръчай</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BulgarianName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatinName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.RegisterOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BulgarianName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LatinName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImageURL)" height="100">

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterOn)
                 </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="OrderFlowers" asp-action="Create" asp-route-id="@item.Id">Order</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>*@
