<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
@model UhanieWebApp.Data.OrderBouquet

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли</h1>

<div>
    <h4>за избраната поръчка</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Bouquets)*@
            Име на артикул
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bouquets.Name)
        </dd>
        <dt class="col-sm-2">
            Единична цена
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bouquets.Price)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Customer)*@
            Клиент
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.UserName)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Quantity)*@
            Количество
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.RegisterOn)*@
            Дата и час на поръчката
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterOn)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="far" style="text-decoration:none; font-size:24px;">&#xf044;</a>
    }
    <a asp-action="Index" class="fas" style="text-decoration:none; font-size:24px;">&#xf3e5;</a>
</div>
