@model IEnumerable<UhanieWebApp.Data.OrderBouquet>

@{
    ViewData["Title"] = "Index";
}

<h1>Поръчки</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Bouquets)*@
                Артикул
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Customer)*@
                Потребител
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Quantity)*@
                Количество
            </th>
            <th>
                Единична цена
            </th>
            <th>
                Обща сума
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.RegisterOn)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bouquets.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bouquets.Price)
                </td>
                <td>
                    @(item.Quantity * item.Bouquets.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
