<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
@model IEnumerable<UhanieWebApp.Data.OrderFlower>

@{
    ViewData["Title"] = "Index";
}

<h1>Поръчки</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Flowers)*@
                Цвете
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Customer)*@
                Клиент
            </th>
            <th>
                Количество
            </th>
            @*<th>
                Единична цена
            </th>*@
            <th>
                Обща сума
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.RegisterOn)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Flowers.BulgarianName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Flowers.Price)
                </td>*@
                <td>
                    @(item.Quantity * item.Flowers.Price) лв.
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="far" style="text-decoration:none;">&#xf044;</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="fas" style="text-decoration:none;">&#xf2ed;</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> 
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
